<%- include('./partials/header', {otherCSSFile: "contact", otherJSFile: "contact"}) %>
<div class="contact-infos-container">
    <div class="contact-infos-wrapper">
        <div class="infos">
            <h1 class="infos__title">Infos</h1>
            <div class="bio">
                <h2 class="bio__title">Bio</h2>
                <div class="bio__content">
                    <p class="bio__intro contact-infos-container__text ">
                        French photographer based in Paris. <br>
                        I travel the world for photography. <br>
                        Feel free to contact me.
                    </p>
                    <ul class="bio__availabilities contact-infos-container__text">
                        <p>Available for:</p>
                        <li>commercial</li>
                        <li>fashion</li>
                        <li>interior</li>
                        <li>wedding</li>
                        <li>corporate</li>
                        <li>product</li>
                        <li>event</li>
                    </ul>
                    <p class="bio__outro contact-infos-container__text ">
                        For any other inquiries, <br>
                        feel free to contact me.
                    </p>
                </div>
            </div>
            <div class="personal-contacts">
                <h2 class="personal-contacts__title">Personal Contacts</h2>
                <ul class="personal-contacts__list contact-infos-container__text ">
                    <li>
                        <b>Tel:</b>
                        +33 6 12 33 09 64 (What'sApp)</li>
                    <li>
                        <b>Mail:</b>
                        Hello@LaurentXDubois.com <br>
                        or use this form</li>
                    <li><b>CV:</b>
                        <a href="/cv" class="cv-link" target="_blank">
                            Download here
                        </a> <br>
                        (5mo FULL Portfolio)</li>
                </ul>
            </div>
        </div>
        <form action="/contact" method="post" class="contact-form">
            <h1 class="contact-form__title">Contact</h1>
            <p class="contact-infos-container__text">
                Please fill in the following form:
            </p>
            <div class="contact-form__field">
                <label for="name">*Name:</label>
                <input
                    class=
                        "contact-infos-container__text
                        <% if (alertMsgPerInput.has('name')) { %>
                        with-alert
                        <% } %>"
                    value="<%= nameInput %>"
                    type="text"
                    placeholder="John Doe"
                    name="name">
                <% if (alertMsgPerInput.has('name')) { %>
                <p class="alert-message">
                    <i><%= alertMsgPerInput.get('name') %></i>
                </p>
                <% } %>
            </div>
            <div class="contact-form__field">
                <label for="email">*E-mail:</label>
                <input
                    class=
                        "contact-infos-container__text
                        <% if (alertMsgPerInput.has('email')) { %>
                        with-alert
                        <% } %>"
                    value="<%= emailInput %>"
                    type="text"
                    placeholder="john.doe@gmail.com"
                    name="email">
                <% if (alertMsgPerInput.has('email')) { %>
                <p class="alert-message">
                    <i><%= alertMsgPerInput.get('email') %></i>
                </p>
                <% } %>
            </div>
            <div class="contact-form__field">
                <label for="telephone">Tel:</label>
                <input
                    class="contact-infos-container__text"
                    value="<%= telephoneInput %>"
                    type="tel"
                    placeholder="+33678930482"
                    name="telephone">
            </div>
            <div class="contact-form__field">
                <label for="website">Website:</label>
                <input
                    class="contact-infos-container__text"
                    value="<%= websiteInput %>"
                    type="text"
                    placeholder="www.john-doe.com"
                    name="website"
                >
            </div>
            <div class="contact-form__field">
                <label for="messge">*Message:</label>
                <textarea
                    name="message"
                    id=""
                    cols="20"
                    rows="5"
                    class=
                        "contact-infos-container__text
                        <% if (alertMsgPerInput.has('message')) { %>
                        with-alert
                        <% } %>"
                    placeholder="I am interested in your services because..."
                    ><%= messageInput %></textarea>
                    <% if (alertMsgPerInput.has('message')) { %>
                    <p class="alert-message">
                        <i><%= alertMsgPerInput.get('message') %></i>
                    </p>
                    <% } %>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<%- include('./partials/footer') %>