<%- include('./partials/header', {otherCSSFile: "gallery", otherJSFile: "gallery" }) %>
<video
    class="background-video"
    poster="/img/background.jpg"
    autoplay muted loop playsinline>
        <source src="<%= relativePathBackgroundVideo %>" type="video/mp4">
</video>
<div class="gallery-container">
    <% galleryImages.forEach(imageName => { %>
        <img
            src="<%= relativePathImages %>/<%= imageName %>"
            alt="<%= relativePathImages %>/<%= imageName %> not found">
    <% }); %>
</div>
<%- include('./partials/footer') %>