<%- include('./partials/header', {otherCSSFile: "gallery", otherJSFile: "gallery" }) %>
<video
    class="background-video"
    poster="/img/background.jpg"
    autoplay muted loop playsinline>
        <source src="/video/background.mp4" type="video/mp4">
</video>
<div class="gallery-container">
    <% galleryImages.forEach(imagePath => { %>
        <img
            src="<%= relativePathImages %>/<%= imagePath %>"
            alt="<%= relativePathImages %>/<%= imagePath %> not found">
    <% }); %>
</div>
<%- include('./partials/footer') %>