<%- include('./partials/header', {otherCSSFile: "gallery", otherJSFile: "gallery" }) %>
<% if (videosFolderExists) { %>
    <video
        class="background-video"
        poster="<%= galleryPath %>/videos/video.jpg"
        autoplay muted loop playsinline>
            <source src="<%= galleryPath %>/videos/video.mp4" type="video/mp4">
    </video>
<% } %>
<div class="gallery-container">
    <% imageNames.forEach(imageName => { %>
        <img
            src="<%= galleryPath %>/images/<%= imageName %>"
            alt="<%= galleryPath %>/images/<%= imageName %> not found">
    <% }); %>
</div>
<%- include('./partials/footer') %>